@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
p {
  line-height: 1.4;
}
.App {
  text-align: center;
}
button {
  cursor: pointer;
}
